body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  display: block;
  width: 60%;
  text-align: justify;
  margin: 10px auto 40px auto;
  color: rgb(66, 66, 66);
}

h1{
  margin: 45px auto 0px auto;
  display: block;
  width: 60%;
}